body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(218, 23%, 16%);
}

.card {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: thick solid red;
  height: 40vh;
  width: 40vw;
  /*padding: 100px;*/
}

.header {
  color: hsl(150, 100%, 66%);
}

.text {
  color: hsl(193, 38%, 86%);
}
